body{
  margin: 0;
}

html{
  overflow: auto;
}

body{
  overflow: hidden;
}

.header{
  background-color:white ;
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.header-wrap{
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-wrap img{
  margin-left: 35px;
  width: 70px;
}

.header-nav ul{
  display: flex;
  list-style: none;
}

.header-nav li{
  margin-right: 35px;
  font-size: 15px;
  font-weight: bold;
}
.header-nav a{
  color: black;
  text-decoration: none;
}

.header-nav a:hover{
    opacity: 0.5;
    transform:0.2s;
  }

#eyecatch{
  height: 570px;
  background: url(./img/mv.png)no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

#eyecatch h2{
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  line-height: 1;
  text-align: center;
}


#eyecatch h2{
  font-size: 50px;
  font-style: italic;
  font-weight: bold;
}

#eyecatch h2 span{
  font-size: 20px;
  font-style: normal;
}

.mission{
  position: relative;
  background-color:  rgba(0, 0, 0, 0.877);
  height: 250px;
}

.mission-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: left;
  width:70% ;
}

.mission-title{
  color: white;
  font-size: 30px;
}

.mission-text{
  margin-top: 20px;
  font-size: 14px;
  color: white;
}

.service-title{
  text-align: center;
  margin-top: 100px;
}

.service{
  margin: 0 auto;
}


.service-wrap{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
.service-img{
  display:flexbox;
  width: 40%;
  margin:0 10px ;
}

.service-img{
  display: flexbox;
  width: 40%;
}

.service-img img{
  width: 100%;
}

.service-text{
  font-size: 15px;
}


.service-content{
  font-size: 18px;
  font-weight:bold;
}


.service-btn{
  background-color: rgb(206, 28, 28);
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  display: block;
  width: 300px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 80px;

  }
  .service-btn:hover{
    opacity: 0.5;
    transform:0.2s;
  }

  .news{
    background-color:rgba(0, 0, 0, 0.877);
    width: 100%;
    height: 450px;
  }

  .news-wrap{
    margin: 0 auto;
    width: 100%;
    padding-top: 80px;
  }

  .news-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    }


  .news-title{
    color: white;
    font-size: 30px;
    font-weight: bold;
  }

  .news-btn{
    background-color: rgb(206, 28, 28);
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    display: block;
    width: 160px;
    font-size: 14px;
    font-weight: bold;
    height: 20px;
    align-items: center;
  }
  
  .news-text{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .news-text0{
    background-color: white;
    color: black;
    text-decoration: none;
    margin-top: 10px;
    text-align: left;
    padding-left: 20px;
  }
  .news-text0 span{
    padding-left: 10px;
    font-weight: bold;
  }

.news-content{
  width: 85%;
  display: flexbox;
  margin: 0 auto;
}

  .news-text0{
    display: flexbox;
    width: 85%;
    height: 60px
  }


.news-btn:hover,
.news-text1:hover,
.news-text2:hover,
.news-text3:hover{
  opacity: 0.6;
  transition-duration:0.3s ;
}

.company-title{
  text-align: center;
  margin-top: 80px;
  font-size: 30px;
}

.company-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.company-img {
  display: flexbox;
  margin: auto 10px;
  width: 30%;
}

.company-img img{
  width: 100%;

}

.company-img a{
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  color: black;
  
}

.company-img p{
  font-size: 13px;
}

.company-img p,
.company-img span{
  margin-top: 0%;
}

.company-btn{
  background-color: rgb(206, 28, 28);
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  display: block;
  width: 300px;
  margin: 0 auto;
  margin-top: 30px;
}

.company-btn:hover,
.company-img img:hover,
.company-img a:hover{
  opacity: 0.5;
  transform: 0.2s;
}

.recruit{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

.company-back,
.recruit-back{
  width: 50%;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  color: white;
 text-align: center;
 padding: 100px 0;
}

.company-back{
  background-color: rgb(206, 28, 28);
}

.recruit-back{
  background-color: rgba(0, 0, 0, 0.877)
}

.company-back:hover,
.recruit-back:hover{
  opacity: 0.5;
  transform: 0.2s;
}

.contact{
  background-color:rgb(241, 243, 243);
  margin-top: 80px;
  padding-bottom: 80px;
}

.contact-title,
.contact-text {
  text-align: center;
}

.contact-title{
  padding-top:90px ;
  font-size: 30px;
  font-weight: bold;
}

.contact-btn{
  background-color: rgb(206, 28, 28);
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  display: block;
  width: 300px;
  margin: 0 auto;
  margin-top: 50px;
}

.contact-btn:hover{
  opacity: 0.5;
  transition: 0.2s;
}

.footer-bar{
  height: 60px;
  line-height: 60px;
}

.top-footer{
  background-color: rgba(0, 0, 0, 0.877);
}

.flex{
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1400px;
  margin: 0 auto;
}

.footer-text{
  color: white;
  padding-left: 130px;
}

#sample{
  padding-right: 150px;
}

#sample li{
  margin-right: 35px;
  font-size: 12px;
  font-weight: bold;
  display: inline;
  list-style-type:none ;
  margin-right: 6px;
  padding-left: 10px;
  border-left:1px solid white;
  height: 20px;
}

#sample li.border{
  border-left: 0;
  padding-left: 0;
}

.footer-nav a{
  color: white;
  text-decoration: none;
}

#sample li:hover{
  opacity: 0.6;
  transition-duration: 0.3s;
}

@media screen and (max-width:768px){
  #hamburger {
  width: 40px;
  height: 40px;
  position: absolute;
  cursor: pointer;
  z-index: 100;
  top: 15px;
  right: 20px;
  transition: 0.4s;
}

#hamburger span {
  position: absolute;
  left: 2px;
  display: block;
  width: 35px;
  height: 2px;
  background-color: black;
  transition: 0.8s;
}

#hamburger span:nth-of-type(1) {
  top: 10px;
}

#hamburger span:nth-of-type(2) {
  top: 20px; 
}

#hamburger span:nth-of-type(3) {
  top: 30px; 
}

.header-nav {
  display: none; 
}

html{
  font-size: 10px;
}

#eyecatch{
  height: 1000px;
}

#eyecatch h2,
#eyecatch span{
  width: 85%;
}

.mission{
 height: 350px;
}

.mission-content{
  width: 85%;
}


.mission-text{
  font-size: 1.6rem;
}

.service-wrap{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.service-title{
  font-size: 3rem;
}


.service-img {
  width: 85%;
}


.service-text{
  padding: 10px 0px;
  font-size: 1.58rem;
  margin-bottom: 18px;
}

.service-content{
  padding: 5px 0px;
}

.service-btn{
  height: 40px;
  width: 280px;
  font-size: 1.6rem;
  padding-top: 20px;
}

.news{
  height: 380px;
}

.news-wrap{
  width: 85%;
}

.news-content{
 width:100%;
}

.news-text{
  height: 50px;
  font-size: 1.3rem;
}

.news-text1{
  height: 40px;
}
.news-text2{
  height: 40px;
}
.news-text3{
  height: 40px;
}



.company-wrap{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.company-img {
  width: 85%;
  text-align: center;
}

.company-img img{
  width: 100%;
}

.company-img p{
  text-align: left;
  margin-bottom: 0px;
}


.company-btn{
  height: 30px;
  width: 280px;
  font-size: 1.6rem;
  padding-top: 15px;
  margin-top: 50px;
}

.contact-title{
  font-size: 3rem;
}

.contact-text{
  font-size: 1.7rem;
}

.contact-btn{
  height: 30px;
  width: 280px;
  font-size: 1.6rem;
  padding-top: 15px;
}

.top-footer{
  height: 250px;
  width: 100%;
}

.flex{
  margin: 0 auto;
  width: 85%;
}

.footer-nav ul{
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 40px;
}

#sample li{
  width: 100%;
  border: none;
  font-size: 1.2rem;
  text-align: left;
}
}