body{
  margin: 0;
}
#top-header{
  background-color:blue ;
}

.header-wrap{
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-wrap img{
  margin-left: 35px;
}

.header-nav ul{
  display: flex;
  list-style: none;
}

.header-nav li{
  margin-right: 35px;
  font-size: 15px;
  font-weight: bold;
}
.header-nav a{
  color: black;
  text-decoration: none;
}

#firstview {
  height: 100%;
  background: url(./img/mv.png) no-repeat;
  background-size:cover;
  background-position: center;
  position: relative;
}

.catchcopy {
  position: absolute;
  color: white;
  line-height: 1;
}